
#query-input {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
  }

.query-btn {
  border: none;
  color: white;

}

/*
==========================
MEDIA QUERY
==========================
*/

@media (max-width: 550px) {
  #query-input {
    width: 60%;
  }
}

@media (max-width: 340px) {
  #query-input {
    width: 100%;
  }
  .query-btn {
    width: 100%;
  }
}
